
<body>

<form name="frmRegistration" method="post" action="">
<table border="0" width="500" align="center" class="demo-table">
  <h1>{{naslov}}</h1>
<tr>
<td>{{user}}</td>
<td><input type="text" class="demoInputBox" name="userName" ></td>
</tr>
<tr>
<td>{{first}}</td>
<td><input type="text" class="demoInputBox" name="firstName" ></td>
</tr>
<tr>
<td>{{last}}</td>
<td><input type="text" class="demoInputBox" name="lastName" ></td>
</tr>
<tr>
<td>{{pas}}</td>
<td><input type="password" class="demoInputBox" name="password" value=""></td>
</tr>
<tr>
<td>{{conf + ' ' +pas}}</td>
<td><input type="password" class="demoInputBox" name="confirm_password" value=""></td>
</tr>
<tr>
<td>{{e}}</td>
<td><input type="text" class="demoInputBox" name="userEmail" ></td>
</tr>
<tr>
<td>Gender</td>
<td><input type="radio" name="gender" value="Male">
<input type="radio" name="gender" value="Female">
</td>
</tr>
<tr>
<td colspan=2>
<input type="checkbox" name="terms"> I accept Terms and Conditions <input type="submit" name="register-user" value="Register" class="btnRegister"></td>
</tr>
</table>
</form>
</body>
